
 body {
    font-family: Raleway !important;
    background-image: url('image-landing-2.jpg');
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    
}
.landing-text{
    margin-top: 30% !important;
}
.nav-link{
    color: white !important;
    font-size: 18px !important;
    padding-left: 50px !important;
}

@media only screen and (max-width: 600px){
    #Home{
        background-image: url('image-mobile.jpg');
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: 90% !important;
        background-attachment: fixed !important;
    }
}

@media only screen and (max-width: 600px) {
    #Heading-Landing {
        font-family: Raleway !important;
        font-size: 50px !important;
        font-weight: 900 !important;
        color: black;
        margin-top: 50% !important;
    }
}

#Heading-Landing{
    font-family: Raleway !important;
    font-size: 50px !important;
    font-weight: 900 !important;
    color: black;
}
#Paragraph-Landing{
    font-family: Raleway !important;
    font-weight: 500 !important;
    color: #878a8f !important;
}
.Links-Landing {
    color: black !important;
    text-decoration: none !important;
    font-weight: 700 !important;
}

.Links-Landing:hover {
    color: black !important;
    text-decoration: underline !important;
    font-weight: 700 !important;
}

