
 body {
    font-family: Raleway !important;
   
}
#About-Me{
   margin-top: 8% !important;
   padding-bottom: 100px !important;
   padding-top: 100px !important;
}
#Home{
 background-image: url('image-landing.jpg');
 background-position: center !important;
 background-repeat: no-repeat !important;
 background-size: cover !important;
 padding-bottom: 100px !important; 
 padding-top: 100px !important;
 }

 #Recent-Works{
    
     
 }
.landing-text{
    margin-top: 30% !important;
}
.nav-link{
    color: white !important;
    font-size: 18px !important;
}

.nav-link:hover{
    color: white !important;
    font-size: 18px !important;
   
    border-bottom: 3px solid #22d1ee !important;
    
}
#Heading-Landing{
    font-family: Raleway !important;
    font-size: 50px !important;
    font-weight: 900 !important;
    color: black;
}
#Paragraph-Landing{
    font-family: Raleway !important;
    font-weight: 500 !important;
    color: #878a8f !important;
}
.Links-Landing {
    color: black !important;
    text-decoration: none !important;
    font-weight: 700 !important;
}

.Links-Landing:hover {
    color: black !important;
   border: 2px black solid !important;
    font-weight: 700 !important;
    padding: 10px !important;
}

#Heading-Recent-Works{
    font-family: Raleway !important;
    font-size: 50px !important;
    font-weight: 900 !important;
    color: black;
    margin-top: 15% !important;
}
.projects{
    margin-top: 10% !important;
}
.project-name{
    font-weight: 800 !important;
    font-size: 25px !important;
    text-align: center !important;
}
.Heading-About-Me{
    text-align: center !important;
    font-size: 20px !important;
    color: #878a8f !important;
}
.Biography{
    text-align: center !important;
    font-weight: 900 !important;
    font-size: 2.5rem !important;
}

.Work-Experience{
    text-align: center !important;
    font-size: 1.375rem !important;
    color: #878a8f !important;
}
.Image-About-Me{
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
}
.Services{
    text-align: center !important;
    font-weight: 800 !important;
    font-size: 1.375rem !important;
}
.Heading-Service{
    text-align: center !important;
    color: #878a8f !important;
    font-size: 1.375rem !important;
    margin-top: 5% !important;
}
#Heading-Contact-Me{
 font-family: Raleway !important;
 font-size: 50px !important;
 font-weight: 900 !important;
 color: black;
 margin-top: 10% !important;
 text-align: center !important;
}
#Paragraph-Contact-Me{
     text-align: center !important;
     font-size: 1.375rem !important;
     color: #878a8f !important;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: black;
    box-shadow: 0 3px 3px black;
    outline: 0 none;
}

.form-control:focus {
    color: #eaedf2;
    background-color: #fff;
    border-color:black !important;
    outline: 0;
    box-shadow: 0 3px 3px black !important;
}

#Footer{
    background-color: black !important;
    color: white !important;
    padding-bottom: 100px !important;
    padding-top: 100px !important;
}
#Contact-Me{
    padding-bottom: 100px !important;
    padding-top: 100px !important;
}
.active {
    border: 1px white solid  !important;
    
    border-radius: 2% !important;
}